#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

#playback-controls {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    
    & > * {
        display: inline-block;
        flex-grow: 1;
    }

    .player-controls {
        & > * {
            display: inline-block;
        }
    }
}

.button-group {
    padding: 0 0.4em;
    button {
        background: none;
        border: none;
        outline: none;
        border-radius: 100px;

        &:hover {
            background: #eee;
        }
    }
}

.selector-control {
    
    select {
        margin-left: 0.5em;
    }
}